<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Diving with the Stars!</title>
  {{!-- jquery --}}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  {{!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css"> --}}
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script> {{!-- fonts --}}
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/top-sites.css">
  <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
  <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="/css/classes.css" type="text/css" rel="stylesheet" media="screen,projection" />


</head>

<body>
  <nav>
    <div class="nav-wrapper">

       <ul class="left hide-on-med-and-down">
          <li style=‘margin-left:15px’>Follow Us</li>
          <li>
            <a href="https://www.facebook.com/Diving-With-The-Stars-145607685509779/" class="fa fa-facebook"></a>
            </li>
            <li></li>
            <a href="#" class="fa fa-twitter"></a>
          </li>
            </ul>


      <ul class="right hide-on-med-and-down">
         <li>
                  <a href="/index.html">Home</a>
                </li>
                <li>
                    <a href="/classes.html">Courses</a>
                </li>
               
            <li>
                  <form action="/topSpots/1" method="GET"> <a href="#"><button id="favorites"type="submit">Favorites</button></a></form>
                </li>
                 <li>
                  <a href="/contact.html">Contact Us</a>
                </li>
          </ul>
    </div>
        </div>
  </nav>
  


  {{{ body }}}


</body>

</html>