<head>
	<meta charset="UTF-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Diving with the Stars!</title>
<<<<<<< HEAD
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
   <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="assets/css/materializeStyle.css" type="text/css" rel="stylesheet" media="screen,projection"/>
	
	<!-- Compiled and minified JavaScript -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
=======
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js
"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
	<!-- Compiled and minified JavaScript -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

	{{!-- trying to connect and customize materialize styles  --}}
	{{!-- <link rel="stylesheet" href="/paralax-template/css/materialize.css">
	<link rel="stylesheet" href="/paralax-template/css/materialize.min.css"> --}}

	{{!-- trying to be able to customize materialize --}}
	{{!-- <script type="text/javascript" src="/paralax-templates/js/init.js"></script>
	<script type="text/javascript" src="/paralax-templates/js/materialize.js.js"></script>
	<script type="text/javascript" src="/paralax-templates/js/materialize.min.js"></script>  --}}
	{{!-- custom style sheet --}}
	<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
	<link rel="stylesheet" href="/css/top-sites.css">	
>>>>>>> stylingTopSites
</head>

<body>
	{{{ body }}}
</body>

</html>