/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 body {
   background-color: #0bafaf;
 }
.nav-wrapper {
  background-color:#ff0000c5;
  
}
.brand-logo {
  color: white
}

nav ul a,
nav .brand-logo {
  color: white
}
#download-button {
  background-color:#0bafaf
}
.btn-large waves-effect waves-light lighten-1 {
  background-color: #0bafaf;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #0bafaf;
}
.center {
  color: white;
}


.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: black;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

#icon-block1 {
  background-image: url("./css/images.scuba.jpg");
  width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
#icon-block2 {
  background-image: url("./css/images.scubajump.jpg");
  width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}
#icon-block3 {
  background-image: url("./css/images.scuba.jpg");
  width: 300px;
  border: 25px solid green;
  padding: 25px;
  margin: 25px;
}
#icon-block1 .material-icons {
  font-size: inherit;
}
#icon-block2 .material-icons {
  font-size: inherit;
}
#icon-block3 .material-icons {
  font-size: inherit;
}
.carousel carousel-slider center {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.carousel-fixed-item center{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
}
.col s12 m4 {
  width: 300px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

footer.page-footer {
  margin: 0;
  background-color: #0bafaf; 
}
