<div class="row">
    <form class="create-form">
        <div class="row">
            <div class="input-field col s6">
                <input placeholder="Placeholder" id="class_name" type="text" class="validate">
                <label for="class_name">Class Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">mode_edit</i>
                <textarea id="class_desc" class="materialize-textarea"></textarea>
                <label for="class_desc">Description:</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <input id="class_price" type="number" class="validate">
                <label for="class_price">Price:</label>
            </div>
        </div>

  <button type="submit">Add The Class</button>
    </form>
</div>