<h1>Top Dive Spots in Los Angeles</h1>
<main>
    <div class="container">
        <div class="row">
            <div class="col s6">
                <h2>{{this.id " " this.spot}}</h2>
                <div class="slider">
                    <ul class="slides">
                        <li>
                            {{#each this.images}}
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col s6">
                <div class="card-panel">
                    {{#each this.body}}
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</main>

<script>
    $(document).ready(function () {
        $('.slider').slider();

//api call to get 

        $ajax("/topSpots/" + $(this).attr("id"), {
            type: "GET",
            dataType: JSON
        }).then(function(){
            $(this.images).split()
        })
     

    });
</script>