.container .section {
    height:100% !important;
    width:100% !important;
    background-color: white;
}

body {
    background-color: white !important;
}

#classInfo {
    padding-top: 50px;
    padding-bottom: 50px;
    font-size: 30px;
    color: #042A2B;
    font-family: 'Lato';
}

#nextBut{
    padding: 10px;
    float: right;
    background-color:darkblue;
    color: white;
    border: solid 5px darkblue;
    margin-top: 20px;
    font-family: 'Lato';

}

#prevBut {
    padding: 10px;
    float: left;
    background-color:darkblue;
    color: white;
    border: solid 5px darkblue;
    margin-top: 20px;
    font-family: 'Courgette';
    font-weight: bolder;
}