.container .section {
    height:100% !important;
    width:100% !important;
    background-color: white;
}

body {
    background-color: white !important;
}

.slider .slides li img {
    height: 100% !important;
    width: 100% !important;
    background-size: cover !important;
    background-position: center !important;
}


#h1 {
    font-family: 'Courgette', cursive;
    font-size: 40px;
    color: #042A2B;
    font-weight: 900;
    float: left;
}

h2 {
    font-family: 'Courgette', cursive;
    font-size: 36px;
    color: #042A2B;
    font-weight: 900;
}

h4 {
    font-family: 'Courgette', cursive;
    font-size: 30px;
    color: #042A2B;
    font-weight: 900;

}

#weatherHolder {
    font-family: 'Courgette', cursive;
    background-color: #2292A4;
    color: #042A2B;
    font-size: 24px;
    width: auto;
    height: auto;
}

.card-panel {
    font-family: 'Courgette', cursive;
    height: auto;
    width: auto;
    
}

.indicator-item {
    font-family: 'Courgette', cursive;
    margin-top: 10px;
}

#textBox{
    font-family: 'Courgette', cursive;
    background-color: #2292A4;
    color: #042A2B;
    width: auto;
    height: auto;
}

.nav-wrapper {
    background-color: #2C6AA8;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nextBut{
    padding: 10px;
    float: right;
    background-color: #77878B;
    color: #042A2B;
    border: solid 5px #2292A4;
    margin-top: 20px;
    font-family: 'Courgette', cursive;

}

#prevBut {
    padding: 10px;
    float: left;
    background-color: #77878B;
    color: #042A2B;
    border: solid 5px #2292A4;
    margin-top: 20px;
    font-family: 'Courgette', cursive;
    font-weight: bolder;
}